@{
    ViewBag.Title = "Home Page";
}

<div class="constant ">

    <div class="card border-dark mb-3 center" style="padding:0rem 0rem;height: 60%; width:80%; background-color:#333333">
        <div class="card-body" style="padding:0rem 0rem;border-radius: 5%; height: 70%; width:80%">
            <img src="https://images.pexels.com/photos/279719/pexels-photo-279719.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Cover Image" class="image center" />
        </div>
    </div>
    <main role="main" class="inner cover center" style=" z-index:1">
        <h1 class="cover-heading text-center animate__animated animate__bounce animate__delay-1s">Find a cozy getaway.</h1>
        <p class="lead text-center" style="color:#c0f6d8;">Adar is the best place to find affordable getaways and comfortible accomodation</p>
        <p class="lead text-center">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Housings/LetsGo" class="btn btn-lg btn-secondary" style="color:#20B875">Lets Go!</a>
            }
            else
            {
                <a href="" class="btn btn-lg btn-secondary" style="color:#20B875">Lets Go!</a>
            }
        </p>
    </main>
</div>

