@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav me-auto">
        <li style="margin:0.5rem">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage",@class="nav-item", style="text-decoration:none" })
        </li>
        <li style="margin:0.5rem"><a class="btn btn-outline-success" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav me-auto" style="justify-content:flex-end; width:100%; padding: 0.5rem">
        <li class="nav-item" style="margin:0.5rem">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" , @class="btn btn-outline-success"})</li>
        <li class="nav-item" style="margin:0.5rem">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink",@class="btn btn-success" })</li>
    </ul>
}
